*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    /* border: 1px solid black; */
    padding: 1%;
    width: 80%;
    margin: 0 auto;
}
.text-center{
    text-align: center;
} 
.clearfix{
    float: none;
    clear: both;
}
.tbl-full{
    width: 100%;
}
table tr th{
    border-bottom: 1px solid black;
    padding: 1%;
    text-align: left;
}
table tr td{
    padding: 1%;
}
.tbl-30{
    width: 50%;
}
.btn-primary{
    background-color: #3498db ;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
    
}
.btn-primary:hover{
    background-color:#2980b9 ;
}
.btn-secondary{
    background-color: #2ecc71  ;
    padding: 1%;
    color: black;
    text-decoration: none;
    font-weight: bold;
    
}
.btn-secondary:hover{
    background-color:#27ae60 ;
}
.btn-danger{
    background-color: #EE5A24 ;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
    
}
.btn-danger:hover{
    background-color:#EA2027;
}

.success{
    color: green ;
}
.error{
    color: red;
}
/* css for service */
.service{
    border-bottom: 1px solid grey;
}
.service ul{
    list-style-type: none;
}
.service ul li{
    display: inline;
    padding: 1%;
}
.service ul li a{
    text-decoration: none;
    font-weight: bold;
    color:black ;
}
.service ul li a:hover{
    color: #eb4d4b;
}
/* css for main */
.main{
    
    /* background-color: #f7f1e3 ; */
    padding: 3% 0;
}
.col-4{
    width: 15%;
    background-color: white;
    margin: 1%;
    padding: 2%;
    float: left;
}
/* css for footer */
.footer{
    background-color: #FCD2D1;
    color: black;
}

/* css for login */

.login{
    width: 30%;
    margin: 10% auto;
    padding: 2%;
}
.login-back{
    background-image: url('../images/loginback.jpg');
    background-size: cover;
}